.news-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}




 .centers{
  
  font-weight: bold;
  border-bottom: 2px solid #002D67;
  padding-bottom: 10px;
  margin-bottom: 200px;
  display: inline-block;
  width: 20%;
 
 
   padding-top: 70px;
   padding-left: 15px;
   margin: auto;
   
 }

 /* 버튼 */
.button {
  margin: 50px 0 50px 0;
 }
 
.buttonq {
 
   padding: 12px 30px;
   justify-content: center;
   margin: 1rem;
   background-color: #0060DB;
   border-radius: 30px;
   border-style: none;
   color: white;
   width: 100%;
   text-decoration: none;
   font-weight: bold;
   
 } 

 .active {
  background-color: #002C69;
}

 .buttons button {
   margin: 0 0.5rem;
   padding: 0.5rem 1rem;
 }

 .buttonq:hover{
	background-color: #003A94;
 }
/* 사진 영상 라인 */

.bba {
 font-size: larger;
 border-bottom: 2px solid #002C69;
 width: 100%;
 font-weight: bold;
 text-align: center;
}

/* 갤러리 */

img {
	width: 100%;
	display: block;
	aspect-ratio: 2.5 / 1.5;
	object-fit: cover;
	transition: transform 1000ms;
}

.wi {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	max-width: 100%;
	width: 100rem;
  margin: auto;
  margin-bottom: 160px;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
	opacity: 1;
}

a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	a:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}