.news-container {
   width: 100%;
   max-width: 1800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
 }
 
 
 .news {
 
  }
  
 
  .centers{
   
   font-weight: bold;
   border-bottom: 2px solid #002D67;
   padding-bottom: 10px;
   margin-bottom: 200px;
   display: inline-block;
   width: 20%;
  
  
    padding-top: 70px;
    padding-left: 15px;
    margin: auto;
    
  }
 
  /* 버튼 */
 .button {
   margin: 50px 0 50px 0;
  }
  
 .buttonq {
  
    padding: 12px 30px;
    justify-content: center;
    margin: 1rem;
    background-color: #0060DB;
    border-radius: 30px;
    border-style: none;
    color: white;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    
  } 
  .buttonq:hover{
    background-color: #003A94;
  }
  .active {
   background-color: #002C69;
 }
 
  .buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
  }
 
 /* 사진 영상 라인 */
 
 .videos-items-container  {
 
   display: flex;
   justify-content: center; /* 수평 중앙 정렬 */
   align-items: center; /* 수직 중앙 정렬 */
   height: 100%; /* 컨테이너의 높이를 100%로 설정하여 가운데 정렬 */
   margin: 80px 0 1px 0;
 }
  
  .videos-items {
    --s: 400px; /* 아이템 크기 */
    --g: 10px;  /* 간격 */

    display: grid;
    gap: var(--g);
   
    
    grid-template-columns: repeat(3, auto); /* 3열 그리드 */
  }
  
  .videos-item {
   position: relative;
  }

  iframe {
    display: flex;
    width: 360px;
    height: 200px;

  }

  .outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .justify-content-between {
    
  }
  
  .inner-container {
    width: 1200px;
    padding: 0;
    background-color: #fff;

    border-radius: 10px;
    overflow: hidden;
  }