.news-container {
   width: 100%;
   max-width: 1800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
 }
 
 
 .news {
 
  }
  
 
  .centers{
   
   font-weight: bold;
   border-bottom: 2px solid #002D67;
   padding-bottom: 10px;
   margin-bottom: 200px;
   display: inline-block;
   width: 20%;
  
  
    padding-top: 70px;
    padding-left: 15px;
    margin: auto;
    
  }
 
  /* 버튼 */
 .button {
   margin: 50px 0 50px 0;
  }
  
 .buttonq {
  
    padding: 12px 30px;
    justify-content: center;
    margin: 1rem;
    background-color: #0060DB;
    border-radius: 30px;
    border-style: none;
    color: white;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    
  } 
 
  .active {
   background-color: #002C69;
 }
 
  .buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
  }
 
  .news-container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  
  
  
   
  
   .centers{
    
    font-weight: bold;
    border-bottom: 2px solid #002D67;
    padding-bottom: 10px;
    margin-bottom: 200px;
    display: inline-block;
    width: 20%;
   
   
     padding-top: 70px;
     padding-left: 15px;
     margin: auto;
     
   }
  
   /* 버튼 */
  .button {
    margin: 50px 0 50px 0;
    background-color: #fff;
   }
   
  .nav-button {
   
     padding: 12px 30px;
     justify-content: center;
     margin: 1rem;
     background-color: #0060DB;
     border-radius: 30px;
     border-style: none;
     color: white;
     width: 100%;
     text-decoration: none;
     font-weight: bold;
     
   } 
  
   .active {
    background-color: #002C69;
  }
  
   .buttons button {
     margin: 0 0.5rem;
     padding: 0.5rem 1rem;
   }
   .buttonq:hover{
    background-color: #003A94;
  }
  
  /* 사진 영상 라인 */
  
  .news-items-container  {
   
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100%; /* 컨테이너의 높이를 100%로 설정하여 가운데 정렬 */
    margin: 80px 0 10px 0;
  }
   
   .news-items {
     --s: 450px; /* 아이템 크기 */
     --g: 25px;  /* 간격 */
     --f: 1;   /* 확대 배율 */
     display: grid;
     gap: var(--g);
     width: calc(3 * var(--s) + 2 * var(--g));
     aspect-ratio: 1;
     grid-template-columns: repeat(4, auto); /* 3열 그리드 */
   }
   
   .news-item {
    position: relative;
   }
   
   .news-item img {
     width: 0;
   height: 0;
   min-height: 100%;
   min-width: 100%;
   cursor: pointer;
   filter: grayscale(80%);
   transition: width 0.2s linear, height 0.2s linear, filter 0.2s linear;
   }
   .news-item img:hover {
     filter: grayscale(0);
     width: calc(var(--s) * var(--f));
     height: calc(var(--s) * var(--f));
   }
   
   .news-item p {
     position: absolute;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     padding: 5px;
     margin: 0;
     text-align: center;
   }

   .outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .justify-content-between {
    
  }
  
  .inner-container {
    width: 1200px;
    padding: 0;
    background-color: #fff;

    border-radius: 10px;
    overflow: hidden;
  }