  /* 스타일 추가 */
  .post-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
  }
 
   /* 게시글 시작 */
   .project-container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
     background-color: #fff;
   }
   
   .project-title {
     text-align: left;
     margin-top: 20px;
   }
   
   .announcement-container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
     background-color: #fff;
   }
   
   .announcement-title {
     text-align: left;
     margin-top: 20px;
   }
   
   .nav-buttons {
     display: flex;
     margin: 50px 0 50px 0;
   }
   
   .project-container .nav-button {
    display: block;
    padding: 10px 20px;
    margin: 0 20px 0 0;
    background-color: #92AD68;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
  }
  
  .project-container .nav-button:hover {
    background-color: #3F6E42;
  }
  
  .project-container .active {
    background-color: #3F6E42;
  }
  
  .announcement-container .nav-button {
  display: block;
  padding: 10px 20px;
  margin: 0 20px 0 0px;
  background-color: #FACA4E;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  }
  
  .announcement-container .nav-button:hover {
  background-color: #FF981B;
  }
  
  .announcement-container .active {
  background-color: #e67e22;
  }
   
   .container {
     max-width: 1200px;
     margin: auto;
     padding: 20px;
     
   }
   
   h1 {
     font-size: 24px;
     text-align: center;
     margin-bottom: 20px;
   }
   
   .input {
     width: 100%;
     padding: 10px;
     font-size: 16px;
     border: none;
     outline: none;
     color: black;
     margin-left: 10px;
   }
   
   .title-input {
     border-bottom: solid 1px #EDEDED;
   }
   
   .input:focus {
     border-bottom: solid 1px #EDEDED;
     outline: none;
     color: black;
   }
   
   .textarea {
     width: 100%;
     border-radius: 39px;
     padding: 30px 120px 10px 30px;
     height: 350px;
     resize: none;
     border: none;
   }
   
   .button {
     display: block;
     width: 100%;
     padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #ffa500;
     color: white;
     font-size: 16px;
     cursor: pointer;
   }
   
   .button:hover {
     background-color: #e69500;
   }
   
   label {
     display: block;
     margin-bottom: 5px;
   }
   
   img {
     display: block;
     margin-top: 10px;
   }
   
   /* 게시판 작성 */
   .write-box {
     border: 1px solid #002d68;
     border-radius: 55px;
     padding: 40px 40px 20px 40px;
     display: block;
     margin-bottom: 30px;
   }
   
   #image {
     display: none;
   }
   
   .file-names {
     margin-top: 10px;
   }
   
   .write-file {
     display: flex;
     align-items: center;
     margin-top: 20px;
   }
   
   .file-upload-label {
     width: 120px;
     display: inline-block;
     justify-content: center;
     align-items: center;
     text-align: center;
   }
   
   .write-file svg {
     color: #002D68;
   }
   
   form > div {
     margin-bottom: initial;
     display: initial;
     flex-direction: initial;
     align-items: initial;
   }
   
   .button-group {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    position: relative;
    margin: 80px 0;
  }
   
   .cancel-button,
   .write-button {
     border: 1px solid #002D68;
     background-color: white;
     padding: 10px 35px;
     margin: 10px;
   }
 
   .image-delete{
     display: flex;
     margin: 30px 0 30px 15px;
   }
 
 
   .image-box{
    display: flex;
    margin-top: 30px;

  }
 
   .remove-btn {
     background-color: white;
     border: none;
   }
 
 .image-delete p {
   margin: 0 10px 0 0;
 }

 .outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.justify-content-between {
  
}

.inner-container {
  width: 1800px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}