/* 훈련안내 시작*/

#training-overview{
   margin-top: 40px;
 }
 
 h1 {
   text-align:left;
 }
 
 .textline {
   width: 368px;
   height: 2px;
   background-color: #002D67;
 }
 
 .support-textline{
   width: 420px;
   height: 22px;
   background-color: #B8C9B9;
 }
 
 .support-target {
   margin: 30px 0 0 30px;
   position: relative;
   font-size: 18px;
 }
 
 .support-target p {
   color: #002D67;
 }
 
 .support-textline{
   position: absolute;
   top: 59px;
   left: 20px;
   width: 305px;
   height: 13px;
   z-index: -1;
 }
 
 .education-details h2 {
   margin: 30px 0 0 30px;
 }
 
 .trainingbox-header {
   width: 252px;
   height: 80px;
   background-color: #406E43;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   position: relative;
 }
 
 .trainingbox-header h3 {
   position: absolute;
   width: 252px;
   display: flex;
   text-align: center;
   justify-content: center; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
   color: white;
 }
 
 .trainingbox {
   width: 252px;
   height: 291px;
   border: 1px solid #002D67;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   position: relative;
 }
 
 .trainingbox p {
   position: absolute;
   width: 252px;
   height: 291px;
   text-align: center;
   display: flex;
   justify-content: center; 
   align-items: center;
 
 }
 
 .trainingbox-header-alt {
   width: 252px;
   height: 80px;
   background-color: #406E43;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   position: relative;
   display: flex; /* 추가 */
   align-items: center; /* 수직 중앙 정렬 */
   justify-content: center; /* 수평 중앙 정렬 */
   flex-direction: column; /* 수직으로 쌓이게 설정 */
   text-align: center;
   color: white;
   padding: 0; /* 패딩 제거 */
   margin: 0; /* 마진 제거 */
   
 }
 
 .trainingbox-header-title {
   font-size: 20px;
 
 }
 
 
 .training-types {
   display: flex;
   margin: 60px auto;
   max-width: 1200px;
 }
 
 .training-img {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 30px;
 }
 
 #training-support {
   margin: 30px 0 0 30px;
   position: relative;
 }
 
 .groupicon {
   width: 1044px;
   height: 274px;
   position: relative;
   
 }
 
 .support-itembox {
   width: 1237px;
   height: 451px;
   background-color: #F5F7F9;
   border-radius: 89px;
   position: relative;
   margin-top: 20px;
   padding: 30px;
   display: flex; /* 추가 */
   justify-content: center; /* 추가 */
   align-items: center; /* 추가 */
 }
 
 #training-schedule {
   margin: 30px;
 }
 
 .schedule {
   position: relative;
   width: 1059px;
   height: 130px;
 }
 
 .schedule-img {
   width: 100%;
   height: 100%;
 }
 
 .schedule-text {
   margin: 30px 0;
 }