/* 상세 페이지 스타일 */
.post-detail {
  text-align: left;
}

.comment-item {
  border-top: 1px solid #002D68;
  padding: 10px;
  position: relative;
  justify-content: space-between; /* 요소들을 좌우 끝에 배치 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
}

.comment-info {
  position: relative;
  display: flex;
}

.comment-info p {
  margin: 0;
  padding: 0;
}

.comment-item .comment-username,
.comment-item .comment-date,
.comment-item .comment-actions {
  margin-right: 10px; /* 텍스트 사이 간격 조정 */
}

.comment-item .comment-actions {
  display: flex;
  align-items: center;
  gap: 5px; /* 버튼 사이 간격 */
}

.btn-reply {
  margin-left: auto;
  background-color: white;
  border: none;
}

.comment-delete-btn {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-delete-btn svg {
  vertical-align: middle;
  color: #828282;
}

.comment-delete-btn svg:hover {
  color: black;
}

.comment-item:last-child {
  border-bottom: 1px solid #002D68;
}

textarea {
  width: 100%;
  margin-top: 10px;
}

.post-image {
  width: 100%; /* 부모 요소의 너비에 맞게 조절 */
  max-width: 600px; /* 최대 너비를 600px로 제한 */
  height: auto; /* 비율을 유지하면서 자동으로 높이 조절 */
}

.comment-content {
  overflow: hidden;
  padding: 10px 0 10px 40px; 
}

.comment-item p {
  margin: 0;
}

.comment-date {
  color: #828282;
}


/* 추가 디자인 */
.project-container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
background-color: #fff;
}

.project-title {
text-align: left;
margin-top: 20px;
}

.announcement-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  }
  
  .announcement-title {
  text-align: left;
  margin-top: 20px;
  }

.nav-buttons {
display: flex;
margin: 50px 0 50px 0px;
}

.project-container .nav-button {
  display: block;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  background-color: #92AD68;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
}

.project-container .nav-button:hover {
  background-color: #55855A;
}

.project-container .active {
  background-color: #3F6E42;
}

.announcement-container .nav-button {
display: block;
padding: 10px 20px;
margin: 0 20px 0 0px;
background-color: #FACA4E;
color: #fff;
text-align: center;
text-decoration: none;
border-radius: 50px;
font-weight: bold;
}

.announcement-container .nav-button:hover {
background-color: #FF981B;
}

.announcement-container .active {
background-color: #e67e22;
}

.post-line{
width: 1160px;
height: 1px;
background-color: #555555;

}

.post-title {
text-align: left;
margin: 16px 0 0 15px;
}

.post-subtitle {
display: flex;
margin-left: 15px;
}

.created {
margin: 0 40px 0 0;
}

.list-btn {
display: flex;
align-items: center;
justify-content: center;
margin: 0 50px 0 50px;

}

.upload-label {
margin: 10px 0 10px 0;
}

.image-box {
  margin-top: 30px;
  margin-left: 15px;
}

.down {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 15px;
}

.upload-label{
  margin-right: 20px;
}

#down-btn {
  margin: 20px 0;
}


.button-group {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  position: relative;
  margin: 80px 0;
}

.list-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 156px;
  height: 59px;
  background-color: white;
  border: 1px solid;
}

.edit-delete-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0 30px 10px 0;

}

.edit-delete-buttons svg {
  color: #959595;
}

.content-box {
  display: flex;
  align-items: center;
  margin: 30px 15px 30px 15px;
}

/* 댓글 스타일 */

.comment-input-container {
  margin: 60px 15px 40px 15px;
}

.textarea-wrapper {
  position: relative; /* 부모 요소를 기준으로 버튼 위치 설정 */
}


textarea::placeholder {
  color: #888;
}

.btn-inside-textarea {
  position: absolute;
  width: 119px;
  height: 34px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #002D67;
  border: none;
  color: white;
  padding: 0; /* padding 제거 */
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 34px; /* 버튼 높이와 동일하게 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
}


.btn-inside-textarea:hover {
  background-color: #0056b3;

}

.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.justify-content-between {
  
}

.inner-container {
  width: 1800px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}