.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.justify-content-between {
  
}

.inner-container {
  width: 1800px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}


body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 40px auto; /* 상하 여백 추가 */
  padding: 0 20px; /* 좌우 여백 추가 */
  overflow: hidden;
}

h1, h2, h3 {
  color: #000000;
}

.first, .second, .for {
  background: #fff;
  padding: 20px;
  margin: 20px 0; /* 상하 여백 추가 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* 둥근 모서리 */
}

.first h1, .second h1 {
  font-weight: 600;
  display: inline-block;
  font-size: 32px;
}

.first-title  {
  font-size: 24px;
}

.first span, .second section h2 {
  font-weight: 300;
  color: #666;
}

.qa-section {
  position: relative;
  left: 320px;
  padding: 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 20px 0; /* 상하 여백 추가 */
  margin-left: -100px; /* 왼쪽으로 튀어나오게 */
  margin-right: 300px; /* 오른쪽 여백 */
  background-color: #E6E6E6;
}

.qa-item {
  margin: 30px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  width: 1000px;
}

.question strong {
  font-weight: bold;
  color: #406E43; /* 녹색 */
}

.answer {
  position: relative;
  top: 20px;
  font-size: 16px;
  color: #000000;
  margin: 10px 0 0 0;
}

.answer strong {
  font-weight: bold;
  color: #000000; 
}

.section-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0; /* 상하 여백 추가 */
  padding: 20px; /* 내부 여백 추가 */
  border-radius: 15px; /* 둥근 모서리 */
  transition: all 0.5s ease-out;
  opacity: 0;
  max-width: 90%; /* 최대 너비 설정 */
}

.section-group.slide-in-left {
  transform: translateX(-100%);
  border-top-right-radius: 0; /* 왼쪽에서 나오는 구역은 오른쪽 모서리를 둥글게 */
  margin-right: 300px; /* 오른쪽 여백 추가 */
}

.section-group.slide-in-right {
  transform: translateX(100%);
  border-top-left-radius: 0; /* 오른쪽에서 나오는 구역은 왼쪽 모서리를 둥글게 */
  margin-left: 200px; /* 왼쪽 여백 추가 */
}

.section-group.visible {
  opacity: 1;
  transform: translateX(0);
}

.bubble-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.bubble-content {
  max-width: 100%; /* 최대 너비 설정 */
  padding: 15px;
}

.bubble-content span {
  display: block; /* 각 문장을 블록 요소로 표시 */
  margin-bottom: 5px; /* 문장 간격 좁히기 */
}

.second section {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  cursor: grab;
  padding: 20px;
}

.second section:active {
  cursor: grabbing;
}

.second .image {
  flex: 0 0 auto;
  width: 450px;
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 넘치는 부분 잘라내기 */
  border: 2px solid #bcd3ee;
  border-radius: 10px;
}

.second .image img {
  width: 100%;
  height: 310px;
  object-position: center !important;
  object-fit: center !important; /* 이미지 중앙 배치 및 잘라내기 */
  align-self: center !important;
}

.direction-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 10px; /* 좌우 여백 추가 */
}

.direction-image {
  width: 35%;
  height: auto;
  border-radius: 10px; /* 둥근 모서리 */
}

.direction-imagee {
  margin-top: 40px;
  width: 100%;
  height: 500px;
  border-radius: 10px; /* 둥근 모서리 */
 }
 

h2.section-title {
  font-size: 32px;
  font-weight: 600;
  border-bottom: 2px solid black;
  color: #333;
  padding-bottom: 5px;
  margin-top: 40px;
  margin-bottom: 20px; /* 상하 여백 추가 */
}

.second h5 {
  font-weight: bold;
  margin-top: 60px;
}

.textline {
  width: 368px;
  height: 2px;
  background-color: #002D67;
  margin-bottom: 60px;
}